@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Montserrat:wght@400;700&family=Mulish:wght@600;700&family=Poppins:wght@200;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.fill-screen {
  width: 100vw;
  min-height: 100vh;
}

.fill-with-bottom-margin {
  width: 100vw;
  height: calc(100% - 4em);
}

/* iOS only */
@supports (-webkit-touch-callout: none) {
  .fill-screen {
    min-height: -webkit-fill-available;
  }
}
